
*.recipe
ProyectoFinal/.vs/*.*
ProyectoFinal/ProyectoFinal/Debug/*.*
ProyectoFinal/ProyectoFinal/v16/*.*
ProyectoFinal/.vs/ProyectoFinal/v16/.suo
ProyectoFinal/.vs/ProyectoFinal/v16/Browse.VC.db
ProyectoFinal/.vs/ProyectoFinal/v16/Browse.VC.db-shm
ProyectoFinal/.vs/ProyectoFinal/v16/Browse.VC.db-wal
ProyectoFinal/.vs/ProyectoFinal/v16/Browse.VC.opendb
ProyectoFinal/.vs/ProyectoFinal/v16/ipch/AutoPCH/ee1fe333d97f8027/MAINPRUEBA.ipch
ProyectoFinal/Debug/ProyectoFinal.exe
ProyectoFinal/Debug/ProyectoFinal.pdb
ProyectoFinal/ProyectoFinal/Debug/MainPrueba.obj
ProyectoFinal/ProyectoFinal/Debug/ProyectoFinal.exe.recipe
ProyectoFinal/ProyectoFinal/Debug/ProyectoFinal.ilk
ProyectoFinal/ProyectoFinal/Debug/ProyectoFinal.log
ProyectoFinal/ProyectoFinal/Debug/ProyectoFinal.tlog/CL.command.1.tlog
ProyectoFinal/ProyectoFinal/Debug/ProyectoFinal.tlog/CL.read.1.tlog
ProyectoFinal/ProyectoFinal/Debug/ProyectoFinal.tlog/CL.write.1.tlog
ProyectoFinal/ProyectoFinal/Debug/ProyectoFinal.tlog/link.command.1.tlog
ProyectoFinal/ProyectoFinal/Debug/ProyectoFinal.tlog/link.read.1.tlog
ProyectoFinal/ProyectoFinal/Debug/ProyectoFinal.tlog/link.write.1.tlog
ProyectoFinal/ProyectoFinal/Debug/ProyectoFinal.tlog/ProyectoFinal.lastbuildstate
ProyectoFinal/ProyectoFinal/Debug/vc142.idb
ProyectoFinal/ProyectoFinal/Debug/vc142.pdb
